* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #c06c84, #6c5b7b);
    font-family: "Poppins", sans-serif;
    min-height:100vh;
}

h1{
    font-size: 1.5rem;
}

h1,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}